h1 {
    text-align: center;
    height: 40vmin;
}

.content {
    background-color: #ffa38c;
    padding: 20px;
}

#id {
    background-color: #028a0f;
}

a:hover {
    color: #ffa38c;
}
.content {
    border: 1px solid #028a0f;
    border-radius: 3px;
}

